@use "../../../shared/styles/variables.scss" as vars;

.custom-checkbox {
  display: inline-block;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  font-size: 12px;
  user-select: none;



  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: transparent;
    border: 1px solid vars.$text-color;
    border-radius: 4px;

    &:after {
      content: "";
      position: absolute;
      display: none;
      left: 5px;
      top: 2px;
      width: 5px;
      height: 10px;
      border: solid vars.$background-light-color;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
      top: 10%; 
      left: 30%;
    }
  }

.checkmark-error{
  border: 1px solid vars.$error-color;
}

  input:checked ~ .checkmark {
    background-color: vars.$text-color;
  }

  input:checked ~ .checkmark:after {
    display: block;
  }
}

.error {
  color: vars.$error-color;
}
