.CardPlan {
    position: relative;
    background-color: #ffffff;
    border-radius: 12px;
    padding: 20px;
      box-shadow: 1px 1px 20px rgba(153, 133, 133, 0.3);
    overflow: hidden;
    max-height: 288px;
    max-width: 687px;

}

.tag {
  display: inline-block;
  background: linear-gradient(to right, #00f4e2, #00ff7f);
  color: #03050f;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 700;
}