@font-face {
    font-family: 'Sonoma';
    src: url('./assets/fonts/BRSonoma-Light-BF654c452608e0f.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Sonoma';
    src: url('./assets/fonts/BRSonoma-Medium-BF654c45266edd1.otf') format('opentype');
    font-weight: 500; 
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Sonoma';
    src: url('./assets/fonts/BRSonoma-Bold-BF654c4526823f5.otf') format('opentype');
    font-weight: 700; 
    font-style: normal;
  }




@font-face {
    font-family: 'Lato';
    src: url('./assets/fonts/Lato-Medium.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
  }
  
