@use "../styles/variables.scss" as vars;

.header {
  background-color: transparent;
  width: 100%;
  padding: 10px 0;


  &__container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }

  &__logo{
    cursor: pointer;
  }

  &__contact {
    display: flex;
    align-items: center;

    &-text {
      font-size: 14px;
      margin-right: 10px;
    }

    &-phone {
      font-size: 16px;
      font-weight: bold;
      color: vars.$dark-color;
      text-decoration: none;
    }

  
  }

  &__contact-phone-container{
    display: flex;
    justify-content: center;
    gap: 5px;
  }
}

@media (max-width: 768px) {
  .header {
    &__contact {
      flex-direction: column;
      align-items: flex-start;

      &-text {
        display: none;
      }
    }
  }
}
