@use "../../shared/styles/variables.scss" as vars;

.select-input-container {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.custom-select {
  width: 30%;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  color: vars.$text-color;
  font-size: 16px;
  font-weight: 400;
  border-color: vars.$input-border-color;
  border-right: 0;
  padding-left: 8px;
  appearance: none; 
  -webkit-appearance: none; 
  -moz-appearance: none; 
}



.custom-select-error {
  border: 1px solid vars.$error-color;
  border-right: 0 ;
}

.custom-option {
  display: flex;
  justify-content: center;
}

.input-container {
  flex: 1;
  margin-bottom: 0px;
}
